<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>BigQuizServlet</servlet-name>
    <servlet-class>at.ac.tuwien.big.we14.lab2.servlet.BigQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigQuizServlet</servlet-name>
    <url-pattern>/play</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>start.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <display-name>StateFilter</display-name>
    <filter-name>StateFilter</filter-name>
    <filter-class>at.ac.tuwien.big.we14.lab2.api.impl.StateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StateFilter</filter-name>
    <url-pattern>/question.jsp</url-pattern>
    <url-pattern>/roundcomplete.jsp</url-pattern>
    <url-pattern>/finish.jsp</url-pattern>
  </filter-mapping>
</web-app>